flask                                                                                                                                                                                                                                       
flask-restful
flask-httpauth
flask-sqlalchemy
flask-openid
python-dateutil
colorama
pyprimes
requests
